/* CSS files add styling rules to your content */

body {
  font-family: courier new, lucida console, monospace;
  margin: 2em;
  background: lavender
}

h1 {
  font-style: italic;
  color: #373fff;
}
